@font-face {
  font-family: 'fira_sansbook';
  src: url(/assets/firasans-book-webfont-c26e8c69f8a7bb7b4c3ecffa05df06f70d99ea785c781b46204215d624351d16.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
