@import "bootstrap";
@import "font-awesome";

body {
  background: image_url('beanstalk-dark');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: rgb(150,150,150);
  margin-top: 4.25rem;
}

blockquote {
  background: #0d0d0d;
  border-left: 10px solid #080808;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  overflow-wrap: break-word;

  &:before {
    color: #cccccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: rgb(170,170,170);
}

p {
  color: rgb(170,170,170);
}

.booyah-box {
  -moz-box-shadow: 1px 1x 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;

  background: rgba(0, 0, 0, .85);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;

  &.col-10.offset-1 {
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

.inverted-image {  
  filter: invert(.7);
}

.pagination {
  font-size: 20px;
  margin-bottom: -1rem;
  margin-top: 1rem;

  .current {
    text-decoration: underline;
  }
  .current, :not(.disabled):not(.next_page):not(.previous_page) {
    margin: 0 0.5rem;
  }
  .next_page {
    margin-left: .5rem;
  }
  .previous_page {
    margin-right: .5rem;
  }
}

/* Bootstrap ====================================================================== */

.alert-info {
  background-color: #0275d8;
  color: #ffffff;
}

.btn-secondary {
  background-color: rgb(100,100,100);
  color: rgb(255,255,255);

  &:hover {
    background-color: rgb(75,75,75);
    color: rgb(255,255,255);
  }
}

.carousel {
  background: image_url('hotel-wallpaper-black');
  background-position: 0px 13px;
  border-style: ridge;
  border-width: 0 0 3px;
  border-color: rgb(55,55,55);
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  margin: 0 auto;
  box-shadow: 0px 3px 8px #d0d0d0;
 }

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
  display: block;
}

.close {
  color: rgb(255,255,255);
  opacity: 1;

  &:hover {
    color: #d9534f;
  }
}

.form-control {
  background-color: rgb(0,0,0) !important;
  color: rgb(255,255,255) !important;
  border-color: rgb(255,255,255);
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.modal-content {
  background-color: rgb(0,0,0);  
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.modal-title {
  color: rgb(255,255,255);
  margin: auto;
}

.navbar {
  background: image_url('hotel-wallpaper-black');
  box-shadow: 3px 4px 8px #666666;
}

.navbar-inverse .navbar-brand {
  color: #b3daff;
  font-family: 'fira_sansbook';
  font-size: 1.625rem;
  margin-bottom: 0;
}
