@import "bootstrap";
@import "font-awesome";


p{
    /* Temp code:*/
  color: grey
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  /* Temp code:*/
  color: grey 
}

body{
  background: image_url('beanstalk-dark');  /* The bg. image choice might need to be adjusted */
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
/*Alt choice: Font stack starting with "Segoe UI",*/

  /* Temp code:*/
  color: grey 
}

.booyah-box{
  -moz-box-shadow: 1px 1x 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  /*background: #fff; This line is the proper color. Next line is temp to help w/ eyes */
  background: #ggg;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-bottom: 15px;
  padding: 20px;
}

.clear{
  clear: both;
}

.invalid-feedback{
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8 px 2px 8px;
}

.navbar{
  background: image_url('hotel-wallpaper-black'); /* The bg. image choice might need to be adjusted */
  box-shadow: 3px 4px 10px #666666;
}

.navbar-inverse .navbar-brand{
  color: #b3daff; /* color might need adjusting */
  font-family: 'fira_sansbook';
  font-size: 26px;
}

/* The class for the page links for will_paginate */
.pagination{

}
        
#map {
  height: 300px;
}
